<div class="header">
  <div class="logo"></div>
  <ul nz-menu nzMode="horizontal" class="bg-main">
    <a nz-dropdown [nzDropdownMenu]="menu" class="color-tone very-relevant">
      Carrinho de compras
      <i nz-icon nzType="down" style="font-size: 16px"></i>
    </a>
  </ul>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <div *ngFor="let prod of this.prods | async; let i = index">
      <li nz-submenu nzTitle="{{ prod.name }}">
        <ul>
          <li nz-menu-item nzDanger (click)="removeProduct(i)">
            Remver produto
          </li>
        </ul>
      </li>
    </div>
    <li nz-menu-divider></li>
    <li nz-menu-item><strong>Total: </strong> {{ getTotal().price }} R$</li>
    <li nz-menu-divider></li>
    <button *ngIf="getTotal().price > 0" nz-button (click)="modal.open()">
      Comprar
    </button>
  </ul>
</nz-dropdown-menu>

<nz-modal
  #modal
  nzTitle="Confirme seus dados e seu pedido..."
  nzCentered
  (nzOnCancel)="modal.close()"
  (nzOnOk)="buy(); modal.close()"
>
  <ng-container *nzModalContent>
    <nz-list nzBordered>
      <nz-list-item *ngFor="let prod of this.prods | async">
        {{ prod.name }} <strong>{{ prod.price }}</strong>
      </nz-list-item>
      <nz-list-footer>
        <strong>Total: {{ getTotal().price }}</strong>
      </nz-list-footer>
    </nz-list>
    <br />
    <br />
    <h3>Seus dados</h3>
    <input [(ngModel)]="email" type="email" nz-input placeholder="Email" />
    <br />
    <br />
    <textarea nz-input textarea rows="4" placeholder="Endereço"></textarea>
  </ng-container>
</nz-modal>
`
