@import "/node_modules/ng-zorro-antd/ng-zorro-antd.less";

// -------- override less variables -----------

@main-color: #8ecae6;
@secondary-color: #219ebc;
@black: #023047;
@tone-color: #fb8500;

.bg-main {
    background-color: @main-color;
}